* {
    padding: 0px;
    margin: 0px;
    font-size:0px;
    box-sizing: inherit;
}
*, *::before, *::after{
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}

html {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    display: block;
    background: transparent;
    border: none;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  }
  
  
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-300.woff') format('woff');
  }
  

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}


@media screen and (min-width: 320px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }
    header {
        background-image: url("../img/320px/header-image-320px.png");
    }
    .container {
        width: 284px;
        margin: 0 auto;
    }
    .main__title {
        font-size: 30px;
    }
    .main__title-description-text {
        padding: 18px 22px;
        font-size: 18px;
    }
            
    .find__partner__button-wrapper {
        padding-bottom: 138px;    
    }
    .authorisation__button-wrapper {
        max-width: 176px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 44px;        
        padding: 20px 0px;
    }      

}

@media screen and (min-width: 768px) {
    body {
        max-width: 1439px;
        margin: 0 auto;
    }
    .container {
        width: 490px;
        margin: 0 auto;
    }
    header {
        background-image: url("../img/768px/header-image-768px.png");
    }
    .navigation__wrappe {
        min-width: 460px;
        max-width: 762px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .authorisation__button-wrapper {
        margin: 0 auto 134px;
    }
    .main__title {
        font-size: 52px;
        line-height: 1.2;
        margin-bottom: 18px;
    }
    .main__title-description-text {
        font-size: 24px;
    }
    .find__partner__button, 
    .see__other__partner__button {
        max-width: 228px;
    }
}   

header {
    background-color: rgb(26, 25, 21);   
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.authorisation__button-wrapper {
    widows: 176px;
}
.authorisation__button { 
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;    
    margin: 0 auto;
    padding: 8px 16px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 20px;
}
.authorisation__button:hover {
    border-color: #ffffff;
    transition: all 500ms linear;
}


.logo_link {
    display: block;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
    padding: 20px 0;
}
.main__title {    
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    letter-spacing: -1px;
}
    
.main__title-description-text {
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
}

.find__partner__button:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(255, 78, 80);
    transition: all 500ms linear;
}

.find__partner__button {
    background-color: rgb(255, 78, 80);
    border-color: rgb(255, 78, 80);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    padding: 13px;
    cursor: pointer;
}

.section__partners__title {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
}

.section__partners__list-item {
    display: block;
    width: 220px;
    margin: 0 auto 30px;
}

.partners__image {
    margin: 0 auto 20px;
}
.partners__name {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1;
    text-align: center;       
    margin-bottom: 14px;
}

.partners__description {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1;
    text-align: center;
}
.see__other__partner__button {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 78, 80);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: transparent;
    padding: 13px;
    margin-bottom: 56px;
    cursor: pointer;
}

.see__other__partner__button:hover {
    background-color: rgb(255, 78, 80);
    color: rgb(255, 255, 255);
    transition: all 500ms linear;
}

/* .partners__image-wrapper {
    width: 220px;
    height: 158px;
    background-color: salmon;
} */

/* .partners__image-wrapper::after {
    content: "";
    background-image: url("../img/partner1-icon-image.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: red;
    display: block;
    
}  */


